---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';
const pageTitle = "A propos de moi";

const identity = {
	firstName: "Antonin",
	name: "Gourinchas",
	country: "France",
	occupation: "Développeur web et vba",
	hobbies: ["la photographie", "le sport", "le cinéma"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Rédaction de documentation"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		<h1>Mon site Astro</h1>
        <h1>{pageTitle}</h1>
        <h2>... et de mon nouveau site Astro !</h2>
        <p>Il s'agit d'un site pour le présenter et parler de mes compétences.</p>
		<Navigation/>
		<br>
		<p>Voici quelques faits me concernant :</p>
		<ul>
			<li>Je m'appelle {identity.firstName} {identity.name}.</li>
			<li>Je vis en {identity.country} et je travaille en tant que {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}.</li>
				}
		</ul>
		<p>Voici mes compétences :</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		{happy && <p>Je suis heureux d'apprendre Astro.</p>}
		{finished && <p>J'ai terminé ce tutoriel.</p>}
		{goal === 3 ? <p>Mon objectif est de le terminer en 3 jours.</p> : <p>Mon objectif n'est pas de le terminer en 3 jours.</p>}
		<Footer/>
	</body>
</html>
